@import "tailwindcss";

:root {
  /* Forçando a paleta Arcade/Cyberpunk sempre */
  --background: #0f1626; /* Azul escuro do monitor */
  --foreground: #d1f5ff; /* Ciano clarinho para texto */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ff8c00; /* Laranja Neon SNK */
  --color-primary-dark: #cc7000;
  --color-secondary: #00d2ff; /* Ciano Laser */
  --color-secondary-dark: #00a8cc;
  --color-success: #39ff14; /* Verde Neon */
  --color-success-dark: #2ab30a;
  --color-surface: #1a2639; /* Azul metálico */
  --color-border: #2e4360; /* Azul escuro borda */
  --font-sans: var(--font-quicksand), var(--font-geist-sans);
  --font-pixel: var(--font-vt323), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131f24;
    --foreground: #ffffff;
  }
  @theme inline {
    --color-surface: #202f36;
    --color-border: #37464f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Efeito Scanlines CRT */
.scanlines {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 4px;
  z-index: 50;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
